<h1>Referers#index</h1>
<p>Find me in app/views/referers/index.html.erb</p>

<table>
	<caption>table title and/or explanatory text</caption>
	<thead>
		<tr>
			<th>Source URL</th>
			<th>Click</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @referers.each do |r| %>
		<tr>
			<td><%= r.url %></td>
			<td><%= r.click %></td>
			<td><%= link_to "Show", r.slug, target: '_blank', class: "" %></td>
		</tr>
		<% end %>
	</tbody>
</table>







<p><%= link_to "New", new_referer_path, class: "" %></p>

