<div class="ui inverted footer vertical segment">
  <div class="ui stackable page grid">
    <div class="six wide column">
      <p>&copy Copyright. Amirol Ahmad. All right reserved.</p>
    </div>
    <div class="six wide right floated aligned column">
      <p style="float:right;">Built with <i class="heart icon"></i> for MindValley</p>
    </div>
  </div>
</div>